<div class="container" style="padding-top: 100px">
    <div class="row">
        <form ng-submit="reg()" class="form-horizontal" role="form">
            <h2 class="text-center">Регистрация</h2>
            <div class="form-group">
                <label class="col-md-5 control-label">Логин</label>
                <div class="col-md-3">
                    <input type="text" class="form-control" ng-model="username" placeholder="Логин">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-5 control-label">Пароль</label>
                <div class="col-md-3">
                    <input type="password" class="form-control" ng-model="password" placeholder="Пароль">
                </div>
            </div>
            <div class="form-group" style="margin-bottom: 0px">
                <div class="col-md-5"></div>
                <div class="col-md-3" id="error"></div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-5 col-md-2">
                    <button type="submit" class="btn btn-primary">Зарегистрироваться</button>
                </div>
            </div>
        </form>
    </div>
</div>